.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Instructions {
  text-align: left;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(1px + 2vmin);
  margin-top: 20px;
}